/* Podstawowy reset i globalne style */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

/* Stylizacja paska wyszukiwania */
header {
  background-color: #333;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 80%;
  max-width: 500px;
}

.search-form input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #444;
  border-radius: 5px;
}

.search-form button {
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Stylizacja galerii i przycisku "Load more" */
.gallery {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.photo-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  display: flex; /* Ustawienie flex dla lepszego zarządzania układem */
  flex-direction: column; /* Układanie elementów w pionie */
}

.photo-card img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Zapewnia, że obrazy wypełnią element img */
  flex-grow: 1; /* Obraz zajmie całą dostępną przestrzeń */
}

.info {
  padding: 10px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around; /* Zapewnia równomierne rozmieszczenie elementów */
  font-size: 0.9em;
}

.info-item {
  text-align: center; /* Wyśrodkowanie tekstu */
}

.info-item b {
  display: block; /* Wyświetlanie jako blok */
}

/* Stylizacja przycisku "Load more" */
.load-more {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s;
}

.load-more:hover,
.load-more:focus {
  background-color: #0056b3;
  outline: none;
}

/* Media queries dla responsywności */
@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .search-form input,
  .search-form button {
    width: 100%;
    margin: 5px 0;
  }

  .search-form button {
    width: auto;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
}
